@define-color edge_light rgba(255, 255, 255, 1.00);  /* for_grep */

window#waybar {
    background-color: @edge_light;
}

#custom-light-slider,
#custom-width-slider {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: @edge_light;
  background: rgb(45, 45, 45);
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 10px;
}

window#waybar.top {
    min-height: 20px; /* for_grep_height */
}


window#waybar.top{
  border-radius: 45px 45px 0px 0px;
}

window#waybar.right {
  border-radius: 0px;
}

window#waybar.bottom {
  border-radius: 0px 0px 45px 45px;
}

window#waybar.left {
  border-radius: 0px;
}